/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# dummy app we only use for testing against rails
/spec/integration/dummy_app/db
/spec/integration/dummy_app/tmp
/spec/integration/dummy_app/log
